body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;

  width: 100%;
}

#root {
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.board {
  background-image: url('images/board.svg');
  background-size: cover;
  width: 618px; height: 618px;
}


.piece {
  height: 69px;
  width: 73px;

  transition: background 0.15s;
}

.selected {
  background: lightyellow;
}

.box {
  background: #bbffb9;
  border-radius: 50px;
}

tr {
  height: 75px;
}

.board-container {
  width: 761px;
  height: 669px;
}

.container1 {
  display: flex;
}

.eaten-pieces {
  width: 600px;
  margin: 51px;
  height: 293px;
}

.upper-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.lower-container {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
}

.numbers {
  height: 619px;
  width: 47px;
}

.numbers p {
  margin-top: 50.5px;
  text-align: center;
  font-size: 22px;
}
.numbers p:first-child {
  margin-top: 25px;
}

.letters {
  display: flex;
  font-size: 16px;
}

.letters p {
  margin-left: 67.5px;
}

.letters p:first-child {
  margin-left: 77px;
}